<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>  

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        amet saepe quaerat in at, placeat itaque aliquid asperiores doloribus
        dolorum deleniti quos officiis repudiandae a minima, commodi fuga
        reiciendis eos rerum maxime dolores recusandae tempora ratione.
        Molestias, totam ducimus! Velit dignissimos voluptatem atque commodi
        reiciendis consequatur laboriosam ipsum quia officiis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        amet saepe quaerat in at, placeat itaque aliquid asperiores doloribus
        dolorum deleniti quos officiis repudiandae a minima, commodi fuga
        reiciendis eos rerum maxime dolores recusandae tempora ratione.
        Molestias, totam ducimus! Velit dignissimos voluptatem atque commodi
        reiciendis consequatur laboriosam ipsum quia officiis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        amet saepe quaerat in at, placeat itaque aliquid asperiores doloribus
        dolorum deleniti quos officiis repudiandae a minima, commodi fuga
        reiciendis eos rerum maxime dolores recusandae tempora ratione.
        Molestias, totam ducimus! Velit dignissimos voluptatem atque commodi
        reiciendis consequatur laboriosam ipsum quia officiis?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
